<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% if page.title %} {{ page.title }} &larr; {% endif %}metareflective</title>
<meta name="viewport" content="width=device-width">
<meta name="author" content="metareflective.com"></meta>
<link rel="stylesheet" href="./assets/default.css" type="text/css" />
</head>
<body>
<div id="header">
{% if page.title %}
<h1> <a href="./">metareflective</a> &rarr; {{ page.title }}<br/><span>&nbsp;</span></h1>
{% else %}
<h1>metareflective</h1>
{% endif %}
</div>

<div class="site">
<div id="content">
{{ content }}
</div>
</div>

<div id="footer">
<a href="mailto:info@metareflective.com"><i class="fa fa-envelope-o"></i> info@metareflective.com</a>
</div>

</body>
</html>
